/*GENERAL STYLING FOR ALL PAGES*/

#main_container{
	background: url("/assets/images/bike.png");
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
	width: 100%;
	min-height: 800px;
	margin: auto;
}


/* LOGIN_REG_PAGE */
.login_subcontainer{
	margin: 150px 0 150px 0;
}
#login{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 100px;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 20px;
	width: 370px;
	background-color: #F0F0F0;
	-webkit-filter: opacity(75%);
	-webkit-backdrop-filter:blur(10px); 
}
.input-group{
	margin: 15px 0 15px 0;
	width: 300px;
}
#register{
	display: inline-block;
	text-align: left;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 20px;
	width: 370px;
	background-color: #F0F0F0;
	-webkit-filter: opacity(75%);
	-webkit-backdrop-filter:blur(10px); 
}


/* ITEM_PAGE */
#item_container{
	padding: 100px 30px 30px 30px;
	margin: auto;
	width: 800px;
}
#item_info{
	border: 1px solid gray;
	padding: 20px;
}


/* CREATE_LISTING */
#search_inputs{
	margin: auto;
	margin-top: 100px;
	width: 600px;
	border: 1px solid gray;
	border-radius: 10px;
	background-color: #F0F0F0;
	-webkit-filter: opacity(75%);
	-webkit-backdrop-filter:blur(10px);
	padding: 30px;
}
#search_inputs div{
	padding: 10px;
}
#upload_image{
	margin: auto;
	margin: 10px 0 10px 0;
}
#create_category{
	margin: 20px 0 20px 10px;
	border: 1px silver solid;
	border-radius: 5px;
	background-color: #FFFFFF;
	width: 520px;
}
#create_submit{
	margin-left: 10px;
}


/* ABOUT */
.about_container h2{
	color: gray;
	margin-bottom: 30px;
}
.about_container{
	margin: auto;
	width: 810px;
	border: 1px gray solid;
	border-radius: 10px;
	margin-top: 100px;
	padding: 30px;
	font-size: 1.1em;
}
.about_text{
	width: 250px;
	display: inline-block;
	vertical-align: top;
}
.portrait{
	width: 400px;
	display: inline-block;
	margin-left: 90px;
}
.portrait img{
	margin: 20px 10px 10px 20px;
}
.about_portrait{
	width: 150px;
	height: 150px;
}


/* CONTACT_US */
.contact_text{
	padding: 30px 0 0 80px;
	min-height: 400px;
	margin: auto;
}
.contact_subcontainer{
	width: 70%;
	margin: auto;
	margin-top: 120px;
	border: 1px gray solid;
	border-radius: 10px;
	padding: 30px;
	background-color: #F0F0F0;
	-webkit-filter: opacity(75%);
	-webkit-backdrop-filter:blur(10px); 
}


/* HOME */
#home_search{
	width: 400px;
	margin: auto;
	padding: 110px 0 100px 0;
}
#home_btn{
	margin: 20px 0 0 160px; 
}
#home_btn2{
	margin: 20px 0 0 90px;
}
#home_content{
	margin-top: 30px;
}


/* EDIT */
#profile_edit{
	margin-top: 100px;
	margin: auto;
	width: 380px;
	padding: 30px;
	border: 1px solid gray;
	border-radius: 10px;
	background-color: #F0F0F0;
	-webkit-filter: opacity(75%);
	-webkit-backdrop-filter:blur(10px); 
}

/* LISTINGS */
#sub_container{
	margin: auto;
	width: 70%;
	padding-top: 100px;
}
.search_results{
	border: 1px solid gray;
	margin: 10px 0;
	font-size: 16px;
}


